// Importing Google Fonts
@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

// Define variables for reuse
$primary-color: #0056b3; // A darker blue for primary elements
$secondary-color: #6c757d; // A neutral gray for secondary elements
$danger-color: rgba(220, 53, 69, 0.8); // Slightly darker and more opaque red for danger elements
$danger-hover-color: rgba(200, 35, 51, 0.8); // Darkened hover state for danger buttons
$white-color: #f8f9fa; // Soft white for more warmth in the UI
$background-color: #1C1C1C; // Dark base color
$font-primary: "Nunito Sans", sans-serif; // Primary font for content
$font-secondary: "Open Sans", sans-serif; // Secondary font for additional text elements
$font-heading: "Bebas Neue", sans-serif; // Heading font

// Updated background image
$background-gradient: linear-gradient(60deg, #29323c 0%, #485563 100%);

/* Global styles for HTML */
html {
  height: 100%; /* Ensures the HTML element takes up the full height of the viewport */
  margin: 0; /* Removes default margin */
  padding: 0 150px 0 150px;
}

/* Global styles for the body */
body {
  color: rgba(255, 255, 255, 0.7); /* Sets the default text color with 70% opacity */
  height: 100%; /* Ensures the body takes up the full height of the viewport */
  margin: 0; /* Removes default margin */
  background-image: $background-gradient; /* Applies the updated linear gradient background */
  background-repeat: no-repeat; /* Prevents the background from repeating */
  background-attachment: fixed; /* Keeps the background fixed during scrolling */
  background-size: cover; /* Ensures the background covers the entire viewport */
  font-family: $font-primary; /* Sets the default font to Nunito Sans */
}

/* Global heading styles */
h1,
h2 {
  color: rgba(255, 255, 255, 1); /* Sets h1 and h2 to fully opaque white */
  font-family: $font-heading; /* Uses Bebas Neue for h1 and h2 */
}

/* Global form input styles */
.form-input,
form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Glass effect class to reuse for any component with a frosted glass look */
.glass-effect {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* WebKit compatibility */
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Reusable button styles */
.button-primary {
  background-color: $primary-color;
  color: $white-color;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-primary:hover {
  background-color: color.scale($primary-color, $lightness: -10%);
}

.button-danger {
  background-color: $danger-color;
  color: $white-color;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-danger:hover {
  background-color: $danger-hover-color;
}

/* Global container style */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}
