@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"); /* Importing Nunito Sans font with various weights and styles */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"); /* Importing Bebas Neue font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"); /* Importing Open Sans font */

/* Global styles for HTML */
html {
  height: 100%; /* Ensures the HTML element takes up the full height of the viewport */
  margin: 0; /* Removes default margin */
}

/* Global styles for the body */
body {
  color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Sets the default text color with 70% opacity */
  height: 100%; /* Ensures the body takes up the full height of the viewport */
  margin: 0; /* Removes default margin */
  background: linear-gradient(
    to right,
    #114357,
    #f29492
  ); /* Applies a gradient background from dark blue to soft pink */
  background-repeat: no-repeat; /* Prevents the background from repeating */
  background-attachment: fixed; /* Keeps the background fixed during scrolling */
  background-size: cover; /* Ensures the background covers the entire viewport */
  font-family: "Nunito Sans", sans-serif; /* Sets the default font to Nunito Sans */
}

/* Styles for headings */
h1,
h2 {
  color: rgba(
    255,
    255,
    255,
    1
  ); /* Sets the color of h1 and h2 headings to fully opaque white */
  font-family: "Bebas Neue", sans-serif; /* Uses Bebas Neue for h1 and h2 headings */
}
