// Importing Google Fonts
@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

// Define variables for reuse
$primary-color: #007bff;
$danger-color: rgba(244, 67, 54, 0.7);
$danger-hover-color: rgba(211, 47, 47, 0.7);
$white-color: white;
$background-gradient: linear-gradient(to right, #114357, #f29492);
$font-primary: "Nunito Sans", sans-serif;
$font-heading: "Bebas Neue", sans-serif;

/* Global styles for HTML */
html {
  height: 100%; /* Ensures the HTML element takes up the full height of the viewport */
  margin: 0; /* Removes default margin */
}

/* Global styles for the body */
body {
  color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Sets the default text color with 70% opacity */
  height: 100%; /* Ensures the body takes up the full height of the viewport */
  margin: 0; /* Removes default margin */
  background: $background-gradient; /* Applies a gradient background from dark blue to soft pink */
  background-repeat: no-repeat; /* Prevents the background from repeating */
  background-attachment: fixed; /* Keeps the background fixed during scrolling */
  background-size: cover; /* Ensures the background covers the entire viewport */
  font-family: $font-primary; /* Sets the default font to Nunito Sans */
}

/* Global heading styles */
h1,
h2 {
  color: rgba(255, 255, 255, 1); /* Sets h1 and h2 to fully opaque white */
  font-family: $font-heading; /* Uses Bebas Neue for h1 and h2 */
}

/* Global form input styles */
.form-input,
form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Glass effect class to reuse for any component with a frosted glass look */
.glass-effect {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* WebKit compatibility */
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Reusable button styles */
.button-primary {
  background-color: $primary-color;
  color: $white-color;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-primary:hover {
  background-color: color.scale($primary-color, $lightness: -10%);
}

.button-danger {
  background-color: $danger-color;
  color: $white-color;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-danger:hover {
  background-color: $danger-hover-color;
}

/* Global container style */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}
