// Importing Google Fonts
@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

// Define variables for reuse across styles
$primary-color: #0056b3; // A darker blue for primary elements
$secondary-color: #6c757d; // A neutral gray for secondary elements
$danger-color: rgba(
  220,
  53,
  69,
  0.8
); // Slightly darker red for danger elements
$danger-hover-color: rgba(
  200,
  35,
  51,
  0.8
); // Darkened hover state for danger buttons
$white-color: #f8f9fa; // Soft white for a warm tone in the UI
$background-color: #1c1c1c; // Dark base color for the background
$font-primary: "Nunito Sans", sans-serif; // Primary font for content
$font-secondary: "Open Sans", sans-serif; // Secondary font for additional text
$font-heading: "Bebas Neue", sans-serif; // Font for headings

// Updated background gradient
$background-gradient: linear-gradient(60deg, #29323c 0%, #485563 100%);

// Global styles for the HTML element
html {
  height: 100%; // Full height to ensure the viewport is taken up completely
  margin: 0; // Removes default margin
  // padding: 0 150px; // Adds padding to the sides of the content
}

// Global styles for the body element
body {
  color: rgba(255, 255, 255, 0.7); // Text color with 70% opacity
  height: 100%; // Full height for the body element
  margin: 0; // Removes default margin
  background-image: $background-gradient; // Applies the background gradient
  background-repeat: no-repeat; // Prevents background from repeating
  background-attachment: fixed; // Keeps the background fixed during scroll
  background-size: cover; // Ensures the background covers the entire viewport
  font-family: $font-primary; // Sets default font to Nunito Sans
}

// Global styles for headings (h1, h2)
h1,
h2 {
  color: rgba(255, 255, 255, 1); // Fully opaque white text for headings
  font-family: $font-heading; // Sets font to Bebas Neue for headings
}

// Styles for form input fields and textareas
.form-input,
form textarea {
  width: 100%; // Full width
  padding: 10px; // Padding inside the input
  margin: 10px 0; // Margin for spacing
  border: 1px solid #ccc; // Border styling
  border-radius: 4px; // Slightly rounded corners
  box-sizing: border-box; // Ensures padding is included in the element's total width and height
}

// Glass effect class for a frosted glass look
.glass-effect {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  ); // Light gradient for the glass effect
  backdrop-filter: blur(10px); // Blur effect for the glass
  -webkit-backdrop-filter: blur(
    10px
  ); // WebKit compatibility for the blur effect
  border: 1px solid rgba(255, 255, 255, 0.18); // Light border for the glass
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Subtle shadow for depth
  border-radius: 8px; // Rounded corners
}

// Reusable styles for primary buttons
.button-primary {
  background-color: $primary-color;
  color: $white-color;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; // Smooth background color transition
}

// Hover state for primary buttons
.button-primary:hover {
  background-color: color.scale(
    $primary-color,
    $lightness: -10%
  ); // Darken the primary color on hover
}

// Reusable styles for danger (red) buttons
.button-danger {
  background-color: $danger-color;
  color: $white-color;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

// Hover state for danger buttons
.button-danger:hover {
  background-color: $danger-hover-color; // Darken the danger color on hover
}

// Global container styling for layout
.container {
  max-width: 1200px; // Maximum width for the container
  margin: auto; // Center the container
  padding: 40px 20px; // Padding inside the container
}
