@use "../styles/App" as *; /* Import global styles */

/* Navbar fixed at the top */
.navbar-container {
  position: fixed; /* Fixes the navbar to the top */
  top: 0; /* Ensures it stays at the top */
  left: 0; /* Aligns it to the left edge */
  right: 0; /* Aligns it to the right edge */
  z-index: 1000; /* Ensures the navbar stays on top of other elements */
  display: flex;
  justify-content: space-between; /* Space out elements within the navbar */
  align-items: center; /* Vertically center the elements */
  height: 64px; /* Fixed height for the navbar */
  padding: 20px 100px; /* Padding on both sides for spacing */
  font-size: 18px; /* Base font size for the navbar text */
}

/* Add margin to main content so it's not hidden behind the fixed navbar */
.main {
  margin-top: 84px; /* Adjust this based on your navbar's height */
}

/* Styling for the logo inside the navbar */
.navbar-logo {
  display: flex;
  font-family: "Bebas Neue", sans-serif; /* Font specific to the logo */
  font-size: 40px; /* Large font size for prominence */
  justify-content: center; /* Center the logo horizontally */
  align-items: center; /* Center the logo vertically */
  height: 100%; /* Take up the full height of the navbar */
  width: 10%; /* Logo takes up 10% of the navbar width */
  color: white; /* White color for the logo text */
}

/* Container for the navigation links in the navbar */
.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%; /* Links take up 80% of the navbar width */

  ul {
    display: flex;
    justify-content: space-around; /* Evenly space the links */
    align-items: center;
    list-style-type: none; /* Remove default list styling */
    margin: 0;
    padding: 0;
    width: 40%; /* The ul takes up 40% of the navbar width */

    li {
      list-style: none; /* Ensure no bullet points for list items */

      a {
        color: white;
        text-decoration: none;
        padding: 10px;
        transition: color 0.3s ease;

        &:hover {
          color: #cccccc; /* Slightly darken the text color on hover */
        }

        &.active-link {
          text-decoration: underline; /* Underline the active link */
          color: white;
        }
      }
    }
  }
}

/* Contact button styling within the navbar */
.navbar-button {
  @extend .button-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10%;
  box-sizing: border-box;

  a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: #666;
      color: white;
    }
  }
}
