.navbar-container {
  display: flex; /* Sets the container to a flexbox layout */
  justify-content: space-between; /* Distributes space evenly between elements */
  align-items: center; /* Aligns items vertically in the center */
  height: 64px; /* Sets the height of the navbar */
  padding: 20px 100px; /* Adds padding on the top/bottom and left/right */
  font-size: 18px; /* Sets the font size for the navbar text */
}

.navbar-logo {
  display: flex; /* Sets the logo container to a flexbox layout */
  font-family: "Bebas Neue", sans-serif; /* Sets the font for the logo */
  font-size: 40px; /* Sets the font size for the logo */
  justify-content: center; /* Centers the logo horizontally */
  align-items: center; /* Aligns the logo vertically in the center */
  height: 100%; /* Ensures the logo takes the full height of the navbar */
  width: 10%; /* Sets the width of the logo container */
  color: white; /* Sets the color of the logo text to white */
}

.navbar-links {
  display: flex; /* Sets the links container to a flexbox layout */
  opacity: 70%; /* Makes the links slightly transparent */
  justify-content: center; /* Centers the links horizontally */
  align-items: center; /* Aligns the links vertically in the center */
  width: 80%; /* Sets the width of the links container */
}

.navbar-links ul {
  display: flex; /* Sets the list to a flexbox layout */
  justify-content: space-around; /* Distributes space evenly between list items */
  align-items: center; /* Aligns list items vertically in the center */
  list-style-type: none; /* Removes the default list bullets */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  width: 40%; /* Sets the width of the list */
}

.navbar-links li {
  color: white; /* Sets the color of the list items to white */
}

.navbar-button {
  display: flex; /* Sets the button container to a flexbox layout */
  justify-content: center; /* Centers the button horizontally */
  align-items: center; /* Aligns the button vertically in the center */
  height: 100%; /* Ensures the button takes the full height of the navbar */
  width: 10%; /* Sets the width of the button container */
  color: white; /* Sets the color of the button text to white */
  border: 1px solid white; /* Adds a white border around the button */
  border-radius: 5%; /* Rounds the corners of the button */
  box-sizing: border-box; /* Ensures the border doesn't affect the element's width/height */
}
